*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
/*Nav Start*/
.logo img{
    padding-left: 115px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;  
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center; 
}
.common-btn{
    background-color: #1d4ed8FF;
    padding: 10px 30px ;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    font-weight: 700;
    color: white;
    border: none;
    cursor: pointer;  
}
header{
    padding-right: 115px;
    padding-left: 115px;
}
/*Nav End*/